<center>


<h1>Our List of Recommendations for Random Things</h1>
<h3>We are not liable if you feel we wasted your life.</h3>

<%= link_to 'Destinations', '/destinations' %><%= ' | '  %>
<%= link_to 'SD Locations', '/places' %><%= ' | ' %>
<%= link_to 'TV Shows', '/tvshows' %><%= ' | ' %>
<%= link_to 'Films', '/films' %>
<br>
<br>
<img src="https://th03.deviantart.net/fs70/200H/f/2014/164/1/a/funny_dog__by_lovemayu-d7mabme.png" alt="funny dog">
<br>
<h2>Also, try some of our fun and informative applications!</h2>

<h3>Cuber</h3>
    <form action="/cuber" method="get" >
        <p>Enter Your Number Here:</p>
        <input name= "number" type="text" value="">
        <input type="submit" value="Submit">
    </form>

<h3>Divider</h3>
    <form action="/divisible" method="get" >
        <p>Enter Your First Number Here:</p>
        <input name= "num1" type="text" value="">
        <p>Enter Your Second Number Here:</p>
        <input name= "num2" type="text" value="">
        <input type="submit" value="Submit">
    </form>

<h3>Character Counter</h3>
    <form action="/char_counter" method="get" >
        <p>Enter Your Word Here:</p>
        <input name= "str" type="text" value="">
        <input type="submit" value="Submit">
    </form>

<h3>Palindrome</h3>
    <form action="/palindrome" method="get" >
        <p>Enter Your Word Here:</p>
        <input name= "word" type="text" value="">
        <input type="submit" value="Submit">
    </form>

<h3>Madlib</h3>
    <form action="/madlib" method="get" >
        <p>Enter Noun Here:</p>
        <input name= "noun" type="text" value="">
        <p>Enter Verb Here:</p>
        <input name= "verb" type="text" value="">
        <p>Enter Adjective Here:</p>
        <input name= "adjective" type="text" value="">
        <p>Enter Adverb Here:</p>
        <input name= "adverb" type="text" value="">
        <input type="submit" value="Submit">
    </form>
<br>
<br>
<br>
<footer>© Rob 'n Con 2019</footer>
</center>
